@media screen and (max-width: 600px) {

	header {
		flex-direction: column;
		height: auto;
	}

	header h1 {
    	margin-top: 20px;
	}

	nav {
		margin: 0 10px 10px 0;
	}

	nav li {
		padding-left: 20px;
		font-size: 0.8rem;
	}

	.container {
		margin-bottom: 70px;
	}

	.section-title {
		margin-bottom: 40px;
	}

	#works ul {
		flex-direction: column;
	}

	#works li {
		width: 100%;
	}

	#news dl {
		flex-direction: column;
	}

	#news dt {
		padding: 15px 0 0 15px;
		border: none;
	}

	#news dd {
		width: 100%;
		padding-top: 0;
	}

	#contact dl {
		flex-direction: column;
	}

	#contact dt {
		
	}

	#contact dd {
		width: 100%;
	}

}